(
  resources: {
    "birdflow::config::Configs": (
      player_team: Blue,
      visibility_radius: 6,
      fog_radius: 5,
      window_size: (
        x: 0.0,
        y: 0.0,
      ),
      cursor_sensitivity: 0.0,
      objects: ({
        Worker: (
          physics_material: Zooid,
          neighbor_radius: 128.0,
          obstacle_acceleration: 5.0,
          nav_flow_factor: 2.0,
          attack_velocity: 30.0,
          spawn_velocity: 10.0,
          waypoint: (
            max_acceleration: 3.0,
            repell_radius: 32.0,
            slow_factor: 0.2,
            attack_radius: 265.0,
          ),
          hit_radius: 12.0,
          death_speed: 5.0,
          interactions: ({
            Worker: (
              separation_radius: 100.0,
              separation_acceleration: 18.0,
              cohesion_acceleration: 2.5,
              alignment_factor: 0.3,
              slow_factor: 0.0,
            ),
            Head: (
              separation_radius: 100.0,
              separation_acceleration: 3.0,
              cohesion_acceleration: 0.5,
              alignment_factor: 0.0001,
              slow_factor: 0.1,
            ),
            Plankton: (
              separation_radius: 10.0,
              separation_acceleration: 0.1,
              cohesion_acceleration: 0.1,
              alignment_factor: 0.0,
              slow_factor: 0.0,
            ),
          }),
        ),
        Head: (
          physics_material: SlowZooid,
          neighbor_radius: 128.0,
          obstacle_acceleration: 3.0,
          nav_flow_factor: 1.0,
          attack_velocity: 0.0,
          spawn_velocity: 2.0,
          waypoint: (
            max_acceleration: 3.5,
            repell_radius: 32.0,
            slow_factor: 0.2,
            attack_radius: 265.0,
          ),
          hit_radius: 24.0,
          death_speed: 5.0,
          interactions: ({
            Worker: (
              separation_radius: 40.0,
              separation_acceleration: 1.0,
              cohesion_acceleration: 0.1,
              alignment_factor: 0.0,
              slow_factor: 0.0,
            ),
            Head: (
              separation_radius: 100.0,
              separation_acceleration: 10.5,
              cohesion_acceleration: 0.1,
              alignment_factor: 0.0,
              slow_factor: 0.0,
            ),
            Plankton: (
              separation_radius: 100.0,
              separation_acceleration: 0.5,
              cohesion_acceleration: 0.1,
              alignment_factor: 0.0,
              slow_factor: 0.0,
            ),
          }),
        ),
        Plankton: (
          physics_material: Plankton,
          neighbor_radius: 128.0,
          obstacle_acceleration: 3.0,
          nav_flow_factor: 1.0,
          attack_velocity: 0.0,
          spawn_velocity: 2.0,
          waypoint: (
            max_acceleration: 0.0,
            repell_radius: 0.0,
            slow_factor: 0.0,
            attack_radius: 265.0,
          ),
          hit_radius: 12.0,
          death_speed: 5.0,
          interactions: ({
            Worker: (
              separation_radius: 100.0,
              separation_acceleration: 0.05,
              cohesion_acceleration: 0.0,
              alignment_factor: 0.0,
              slow_factor: 0.0,
            ),
            Head: (
              separation_radius: 100.0,
              separation_acceleration: 0.05,
              cohesion_acceleration: 0.0,
              alignment_factor: 0.0,
              slow_factor: 0.0,
            ),
            Plankton: (
              separation_radius: 20.0,
              separation_acceleration: 1.0,
              cohesion_acceleration: 0.0,
              alignment_factor: 0.2,
              slow_factor: 0.0,
            ),
          }),
        ),
      }),
    ),
  },
  entities: {},
)