(
  resources: {},
  entities: {
    4: (
      components: {
        "bevy_hierarchy::components::parent::Parent": (3),
        "birdflow::bird::BirdSpawner": (
          num_birds: 12,
          theta_factor: 0.001,
          translation_factor: 20.0,
          max_velocity: 10.0,
        ),
        "birdflow::scene::SaveEntity": (),
      },
    ),
  },
)