(
  resources: {
    "birdflow::bird::BirdSpawner": (
      num_birds: 10,
      theta_factor: 0.001,
      translation_factor: 10.0,
      max_velocity: 9.0,
    ),
    "birdflow::grid::EntityGridSpec": (
      rows: 20,
      cols: 30,
      width: 150.0,
      visualize: true,
    ),
  },
  entities: {},
)